.background {
  border-spacing: 0;
  table-layout: fixed;
  background: #111;
}

.background td {
  padding: 0;
}

.poison {
  background: rgb(170, 100, 255);
}

.lava {
  background: rgb(255, 100, 100);
}

.wall {
  background: rgb(50, 50, 50);
}

.water {
  background: linear-gradient(#83a4d4, #40a4df);
}

.water {
  background: #0af;
}

.actor {
  position: absolute;
}

.coin {
  background: rgb(241, 229, 89);
  /* border-radius: 50%; */
}

.gravity {
  background: purple;
}

.finleyGoal, .frankieGoal {
  border: 2px dotted white;
  border-spacing: 2px;
}

.player {
  background: rgb(111, 61, 150);
}

.finley, .frankie {

}

.lost .player, .lost .finley, .lost .frankie {
  background: rgb(160, 64, 64);
}

.won .player, .won .finley, .won .frankie {
  background: #fff;
}

#game-wrapper {
  /* border-radius: 45px; */
}

.finley {
  background-color: orange;
}

.frankie {
  background-color: green;
}

.instruction {
  position: absolute;
  z-index: 0;
}

.instruction:before {
  color: white;
  font-size: 50px;
  font-family: 'lato', 'helveticaneue-light', 'helvetica';
}

.one:before {
  content: 'welcome.';
  margin-left: -30px;
}

.two:before {
  content: 'use the arrow keys to move and jump.';
  position: absolute;
  width: 300px;
  left: -30px;
}

.three:before {
  content: 'not yet.';
  position: absolute;
  white-space: nowrap;
  margin-left: -45px;
}

.four:before {
  content: 'you need her. press s.';
  position: absolute;
  white-space: nowrap;
}

.title-screen-modal {
  background-color: green;
  position: absolute;
  z-index: 10;
  opacity: .5;
  width: 900px;
  height: 600px;
  /* border-radius: 45px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

button.start-game {
  display: block;
  height: 150px;
  padding: 200px;
}

.game {
  overflow: hidden;
  max-width: 900px;
  max-height: 600px;
  position: relative;
  /* border-radius: 45px; */
}

.game {
  animation: baby 5s forwards;
}
@keyframes baby {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* .game:before {
    content: '';
    position: fixed;
    width: 910px;
    height: 610px;
    background-color: red;
    margin-left: -5px;
    margin-top: -5px;
    z-index: -1;
    border-radius: 48px;
    background: linear-gradient(270deg, #961f7a, #1f5896, #1f963c, #90961f, #961f7a, #961f7a);
    background-size: 1000% 1200%;
    animation: gradient 500s infinite;
    animation-fill-mode:forwards;
    animation-timing-function: linear;
  } */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(270deg, #111, #000, #111);
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1200% 0;
  }
}