.background {
  border-spacing: 0;
  table-layout: fixed;
  background: #111;
}

.background td {
  padding: 0;
}

.poison {
  background: rgb(170, 100, 255);
}

.lava {
  background: rgb(255, 100, 100);
}

.wall {
  background: rgb(50, 50, 50);
}

.water {
  background: linear-gradient(#83a4d4, #40a4df);
}

.water {
  background: #0af;
}

.actor {
  position: absolute;
}

.coin {
  background: rgb(241, 229, 89);
  border-radius: 50%;
}

.finleyGoal {
  border: 2px dotted white;
}

.player {
  background: rgb(111, 61, 150);
}

.lost .player {
  background: rgb(160, 64, 64);
}

.won .player {
  background: #fff;
}

#game-wrapper {
  background-color: orange;
  border-radius: 45px;
}

.title-screen-modal {
  background-color: green;
  position: absolute;
  z-index: 10;
  opacity: .5;
  width: 900px;
  height: 600px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.start-game {
  display: block;
  height: 150px;
  padding: 200px;
}

.game {
  overflow: hidden;
  max-width: 900px;
  max-height: 600px;
  position: relative;
  border-radius: 45px;
}

/* .game:before {
    content: '';
    position: fixed;
    width: 910px;
    height: 610px;
    background-color: red;
    margin-left: -5px;
    margin-top: -5px;
    z-index: -1;
    border-radius: 48px;
    background: linear-gradient(270deg, #961f7a, #1f5896, #1f963c, #90961f, #961f7a, #961f7a);
    background-size: 1000% 1200%;
    animation: gradient 500s infinite;
    animation-fill-mode:forwards;
    animation-timing-function: linear;
  } */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(270deg, #111, #000, #111);
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1200% 0;
  }
}